<h1>Cocino con dos <img src="assets/Imagenes/mango.png" alt="image" width="50px"> </h1> 

<header>
<ul>

  <li><a [routerLink]="['/Quienes-Somos']" [routerLinkActive]="['actived']">Quienes somos</a></li>

  <li><a [routerLink]="['/Recetas']" [routerLinkActive]="['actived']">Recetas</a></li>

  <li id="logo"><img src="assets/Imagenes/mango.png" alt="icon" width="25px"></li>

  <li><a [routerLink]="['/Tips']" [routerLinkActive]="['actived']" >Tips</a></li>

  <li><a [routerLink]="['/Contacto']" [routerLinkActive]="['actived']" >Contacto</a></li>

</ul> 
</header>

<section id="content">
	<router-outlet></router-outlet>
</section>

<footer>
Cocino con dos mangos &copy;
</footer>
